/* TimeGraph.css */
.simulation-summary {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1em;
}

.simulation-summary p {
    margin: 0;
}

@media screen and (max-width: 768px) {
  .graph-container {
    width: 100%;
    overflow-x: auto;
  }
}
