.tooltip-container {
  position: relative;
  display: inline-block;
  cursor: help;
  margin-left: 4px;
}

.tooltip-icon {
  background-color: #888;
  color: white;
  border-radius: 50%;
  padding: 0 6px;
  font-size: 12px;
}

.tooltip-text {
  visibility: hidden;
  width: max-content;
  background-color: black;
  color: #fff;
  text-align: left;
  padding: 8px;
  border-radius: 4px;
  position: absolute;
  z-index: 1;
  top: 130%;
  left: 50%;
  transform: translateX(-50%);
  white-space: pre-line;
  font-size: 12px;
  line-height: 1.5;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
}

@media screen and (max-width: 768px) {
  .tooltip-container {
    display: block;   /* ここを変更 */
    width: 100%;      /* 幅いっぱい */
  }
  .tooltip-text {
    font-size: 12px;
    max-width: 280px;
    width: auto;           /* 幅自動調整 */
    white-space: normal;   /* 改行可能 */
    word-break: break-word;
    box-sizing: border-box;
    left: 0;
    transform: none;
    text-align: left;
    padding: 8px;
    line-height: 1.5;
    background-color: black;
    color: white;
    border-radius: 4px;
  }
}
