.tooltip-container {
  position: relative;
  display: inline-block;
  cursor: help;
  margin-left: 4px;
}

.tooltip-icon {
  background-color: #888;
  color: white;
  border-radius: 50%;
  padding: 0 6px;
  font-size: 12px;
}

.tooltip-text {
  visibility: hidden;
  width: max-content;
  background-color: black;
  color: #fff;
  text-align: left;
  padding: 6px;
  border-radius: 4px;
  position: absolute;
  z-index: 1;
  top: 130%;
  left: 50%;
  transform: translateX(-50%);
  white-space: pre-line;
  font-size: 12px;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
}
